//	Variables
//--------------------------------------*/

// Define Colors
$ucla-blue:				#347bad;
$dark-blue:				#0277bd;
$white:					white(0.98);

// Define Color Pallete
// Consider using the defaults below or creating your own:
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions.
$primary:				$ucla-blue;
$primary-light:			tint($primary, 30%);
$primary-dark:			shade($primary, 82%);

$secondary: 			$dark-blue;
$secondary-light: 		tint($secondary, 73% );
$secondary-dark: 		darken($secondary, 15% );

// Text Colors
$text-color:				rgba(black, .87);
$secondary-text-color:	rgba(black, .53);
$link-color:				$secondary;
$link-hover-color:		$secondary-dark;
$link-visited-color:		$secondary-dark;
$header-color:			$text-color;

// Other
$border-color:			rgba(black, .12);
$separator-color:		$secondary-light;
$background-color:		$primary-light;
$btn-color:				$secondary-light;
$btn-hover-color:		$secondary;
$bullet-point:			$secondary;
$bg-light-color:			rgba(black, .03);
$bg-dark-color:			rgba(black, .06);

//	Numbers
//--------------------------------------*/

// Set height of hero on homepage
$home-hero-height: 		550px;

// Global border radius
$radius:				10em;

// Site width
$site-width:			940px;