/* ==========================================================================
	Main Styles - Desktop
	
	Table of Contents
	
	1.  Main Containers
	2.  Header
	3.  Navigation
	4.  Footer
	5.  Homepage
	6.  Person Page
	7.  People Archive
	8.  Books
	9.  Courses
	10. Articles/Posts
	11. Other
	
	========================================================================== */
   
/*	1. Main Containers
/*--------------------------------------*/

body {
	background-color: white;
}
#container {
	width: 100%;
	overflow: auto;
	zoom: 1;
}
.content, header {
	width: $site-width;
	margin: 0 auto;
	@extend %clearfix;
}
#hero {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	width: 100%;
	height: 400px;
	float: left;
	clear: both;
	margin: 0 0 13px 0;
	position: relative;
}
.col {
	width: 640px;
	float: left;
}
.col + .col {
	width: 280px;
	margin: 10px 0 30px 20px;
}
.page-template-page-full .col {
	width: 100%;
}

/*	2. Header
/*--------------------------------------*/

header.top {
	padding: 35px 0 0 0;
	
	.dept-logo { 
		width: 620px;
		display: inline-block;
		margin: 0;
		text-align: center;
		
		// For retina, upload image 2x larger and resize here
		img {
			width: 581px;
			height: auto;
		}
	}
	h1.logo-text {
	    font-weight: 600;
	    text-transform: uppercase;
	    margin-top: 15px;
	    font-size: 3.2em;
	    color: $text-color;
	}
	.logos {
		float: left;
	}
	nav {
		clear: both;
		float: left;
		padding: 30px 0 20px 0;
	}
	nav ul {
		width: 730px;
	}
	.search {
		float: right;
		clear: right;
		margin-top: 30px;
	}
	.give-back {
		width: 160px;
		text-align: center;
		float: right;
		margin-top: 20px;

		span.support {
			font-size: .8em;
			display: block;
		}
	}
	.university-logo {
		float: left;
		margin-top: 20px;
		width: 160px;
		
		// For retina, upload image 2x larger and resize here
		img {
			width: 119px;
			height: 38px;
		}
	}
}
.breadcrumbs {
	background-color: $secondary;
	width: 100%;
	float: left;
	clear: both;
	color: $white;
	font-size: .8em;
	padding: 8px 0;
	margin-bottom: 40px;
	
	a {
		font-weight: 600;
		color: $white;
		text-decoration: underline;
	}
}

/*	3. Navigation
/*--------------------------------------*/

header, footer {
	nav.desktop ul, nav ul {
		padding: 0;
		margin: 0;
		float: left;
	}
	nav.desktop ul li, nav ul li {
		display: inline-block;
		margin: 0 5px 0 0;
	}
}
header nav.desktop ul li {
	position: relative;
}

/* Drop Down */
header nav.desktop {
	ul li ul {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		padding: 0 10px;
		width: 170px;
		top: 20px;
		border-top: 4px solid $primary-light;
		margin-top: 5px;
		background-color: white;
		z-index: 10000;
		box-shadow: 0px 5px 5px 0 rgba(0,0,0,.14);
		transition: all 0.24s ease-in-out;
	}
	ul li ul li, ul li ul li a { 
		display: block;
		margin: 0;
	}
	ul li ul li a {
		line-height: 1em;
		padding: 6px 0;
	}
	ul li:hover ul, .sub-menu.open {
		display: block;
		opacity: 1;
		visibility: visible;
	}
	ul li.menu-item-has-children a {
		&:after {
			font-family: "Font Awesome 5 Free";
			content: "\f0d7";
			color: rgba(black, .6);
			padding-left: 3px;
		}		
	}
	ul li.menu-item-has-children ul.sub-menu a {
		padding-right: 0;
		
		&:after {
			content: none;
		}
	}
	a {
		font-weight: 600;
		text-transform: uppercase;
		font-size: .8em;
	}
	a, a:link {
		color: $text-color;
		transition: all 0.24s ease-in-out;
	}
	a:hover, a:focus, a:active {
		color: $link-hover-color;
	}
}

/* Side Menu */
.col.side {
	width: 220px;
	margin-left: 80px;

	.content {
		width: 220px;
	}
	li {
		list-style: none;
		margin: 0 0 5px 0;
		line-height: 1.2em;
	}
	ol, ul  {
		margin-bottom: 25px;
	}
	nav.page-nav ul {
		padding: 0;
		margin: 0;
	}
	.widget_recent_entries li {
		margin: 0 0 10px 0;
		padding: 0;
		
		a {
			font-family: $raleway;
			font-size: .9em;
		}
	}
	.btn {
		margin-bottom: 40px;
	}
	.sub-menu { 
		display: none;
	}
	nav.page-nav .current_page_item .sub-menu, 
	nav.page-nav .current_page_parent .sub-menu {
		display: block;
		margin: 5px 0 0 30px;
	}
	.sub-menu li {
		list-style: disc;
	}	
}
.col-nav {
	width: 220px;

	li {
		list-style: none;
		margin-left: 0;
		line-height: 1.5em;
	}
	ul + h3 {
		margin-top: 40px;
	}
}

/*	4. Footer
/*--------------------------------------*/

footer {
	background-color: $secondary;
	clear: both;
	margin-top: 60px;
	float: left;
	width: 100%;
	padding: 35px 0 40px 0;
	color: $white;
	font-size: 1em;
	line-height: 1.5em;
	
	/* Footer Nav */
	nav {
		a, a:link, a:visited {
			color: $white;
			font-weight: 600;
			text-transform: uppercase;
			font-size: .8em;
		}
		.footer-nav {
			clear: left;
			float: left;
		}
		.social-links {
			clear: right;
			float: right;
		}
		.icon {
			margin: 0 0 0 10px;
			font-size: 1.7em;
		}
		li {
			padding: 0;
		}
	}
	// Hiding and only showing on mobile
	.search-form, .mobile-social-nav {
		display: none;
	}
	.copyright {
		padding-top: 50px;
		font-size: .8em;
		
		.university-logo {
			float: left;
			margin-top: 5px;
			display: block;
			
			img {
				width: 100px;
				height: auto;
			}
		}
		p {
			float: right;
			margin: 0;
			width: 87%;
		}
		.divider {
			margin: 0 5px;
		}
		.about-dept, .adr, .uc-copy {
			display: block;
		}
		a, a:link, a:visited {
			color: $white;
			text-transform: none;
			text-decoration: underline;
		}
	}
}

/*	5. Homepage
/*--------------------------------------*/

.home {
	#hero {
		height: $home-hero-height;
		margin: 0 0 40px 0;
		
		.content {
			width: 100%;
			height: $home-hero-height;
			position: relative;
			
			&.text {
				background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
				text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
			}
		}
		.hero-description .content {
			width: $site-width;
			position: static;
			height: auto;
			box-shadow: none;
			background: none;
		}
	}
	.hero-description {
		color: $white;
		text-align: center;
		width: 100%;
		margin: 0 auto;
		padding: 0 0 60px 0;
		position: absolute;
		bottom: 0;
		
		h2 {
			font-size: 4em;
			line-height: 1em;
			max-width: 800px;
			font-weight: 600;
			margin: 0 auto 10px auto;
		}
		p {
			font-size: 1.2em;
			max-width: 700px;
			margin: 0 auto;
			font-weight: normal;
		}
		.outline {
			margin-top: 35px;
			min-width: 106px;
		}
		.left {
			text-align: left;
			
			h2 {
				margin-left: 0;
			}
			p {
				margin: 0;
			}
		}
		.right {
			text-align: right;
			
			h2 {
				margin-right: 0;
			}
			p {
				margin: 0;
				float: right;
				clear: both;
			}
			.btn {
				float: right;
				clear: both;
			}
		}
	}
	.hero-description.middle {
		bottom: 12%;
		
		h2 {
			width: 100%;
		}
	}
}
.home .col {
	float: left;
	
	ul, ol {
		margin: 0;
		
		a {
			text-decoration: none;
		}
	}
	li {
		list-style: none;
		margin-left: 0;
		padding-left: 0;
		@extend %clearfix;
	}
	p, span.description {
		padding: 0;
		margin: 0 0 20px 0;
		font-weight: normal;
		color: $text-color;
		display: block;
		font-size: .93em;
		line-height: 1.6em;
	}
	span.description {
		margin-bottom: 10px;
	}
	.category-list {
		display: block;
		line-height: 1em;
	}
	.image-widget {
		width: 100%;
		height: 180px;
		margin: 20px 0;
		line-height: 2em;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: flex;
		justify-content: center;
		flex-direction: column;
		
		.image-content {
			background-color: rgba(white, .9);
			padding: 10px 20px;
		}
		h4, span {
			color: $text-color;
			
			text-align: center;
			display: block;
		}
		h4 {
			font-size: 1.5em;
			font-weight: 900;
			margin-bottom: 0;
		}
	}
	a:link, a:hover, a:visited {
		&.widget-link, &.widget-link h4 {
			text-decoration: none;
			transition: none;
		}
	}
	&.one {
		width: 220px;
		padding: 0;
	}
	&.two {
		width: 460px;
	}
	&.three {
		width: 700px;
	}
	&.page-col {
		p {
			font-size: 1em;
		}
		&.one p {
			font-size: .93em;
		}
	}
	&.news-col, &.events-col {
		li {
			padding: 0;
			clear: both;
		}
		.category a {
			font-size: .75em;
			color: $secondary-text-color;
			text-transform: uppercase;
			font-weight: normal;
			letter-spacing: .05em;
			display: inline-block;
			font-weight: 700;
		}
		img {
			margin: 3px 20px 20px 0;
			float: left;
		}
		&.one {
			.item {
				width: auto;
			}
		}
		&.two {
			.images .item {
				float: left;
				width: 330px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
		&.three {
			.images .item {
				float: left;
				width: 570px;
			}
			.images + .btn {
				margin-left: 130px;
			}
		}
	}
	&.events-col {
		.duration {
			color: $text-color;
			line-height: 1.5em;
			font-size: .8em;
		}
		.duration span {
			display: inline; 
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		.category {			
			a {
				font-size: .75em;
				color: $secondary-text-color;
				text-transform: uppercase;
				font-weight: normal;
				letter-spacing: .05em;
				display: inline-block;
				font-weight: 700;
			}
			& + .category {
				&:before {
					content: ",";
					margin: 0 5px 0 0;
				}
			}
		}
		.item {
			margin-bottom: 20px;
		}
	}
}
.home .col + .col {
	margin: 0 0 0 20px;
	background-color: white;
	
	li {
		padding: 0;
	}
}
.home .video-container {
	margin-top: 40px;
	
	.bx-wrapper {
		height: auto!important;
		position: relative;
		margin: 0 auto;
		max-width: 940px!important;
		width: 100%;
	}
	.bx-controls {
		font-size: 1.4em;
		position: absolute;
		top: -56px;
		right: 0;
		
		a {
			color: #787878;
			
			&:hover {
				color: $text-color;
			}
		}
	}
	.bx-prev {
		margin-right: 20px;
	}
	
	ol {
		margin: 0;
		float: left;
		width: 100%;
	}
	li {
		margin: 0;
		list-style: none;
		float: left;
		width: 300px;
	}
	/*li + li {
		margin-left: 20px;
	}*/
	img {
		width: 100%;
	}
	.view-all {
		font-size: .7em;
		margin-left: 20px;
	}
	.videos-mobile {
		display: none;
	}
}

/*	6. Person Page
/*--------------------------------------*/

.single-people {
	.details {
		span {
			display: inline;
		}
		span + span {
			margin-left: 20px;
		}
		p {
			margin-top: 0;
		}
	}
	.col + .col {
		margin-top: 0;
	}
	article header {
		padding: 0;
		
		img {
			display: none;
		}
	}
	.bio {
		border-bottom: 2px solid $border-color;
		margin-bottom: 20px;
	}
	.col-nav ul {
		margin-bottom: 40px;
	}
	.photo {
		width: 280px;
		height: 280px;
		margin-bottom: 10px;
	}
	.circle {
		// To make circle, radius should be at least half the width and height
		border-radius: 140px;
	}
	.rounded {
		// Make radius 1/4 the width and height
		border-radius: 70px;
	}
}
.link, .download {
	.fas {
		font-size: .8em;
		margin-right: 5px;
	}
}

/*	7. People Archive
/*--------------------------------------*/

/* Filters */
.page-template-page-people-listing .main header {
	text-align: center;
	float: left;
	clear: both;
	padding: 0;
}
.filter {
	clear: both;
	float: left;
	margin-bottom: 20px;
	width: 100%;

	ul {
		padding: 0;
	}
	li {
		list-style: none;
		display: inline-block;
		margin: 0 5px;
	}
}
.button-group {
	width: 100%;
	float: left;
	
	button {
		padding-top: 6px;
		padding-bottom: 6px;
		margin-bottom: 10px;
		min-width: 124px;
		letter-spacing: 0;
		
		& + button {
			margin-left: 5px;
		}
		&.is-checked {
			background: $btn-hover-color;
		}
	}
	button.all {
		min-width: 100px;
	}
}
.dropdown-filter {
	display: none;
}

/* People List */
.people-list {
	margin-top: 40px;
	padding: 0 9px;
	clear: both;

	ul {
		margin: 30px 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
	.person-item {
		display: block;
		float: left;
		padding: 15px 10px;
		margin: 0;
		width: 210px;
		height: 210px;
		text-align: center;
		line-height: 1.3em;
		transition: background-color 0.24s ease-in-out;
	
		a {
			display: block;
		}
		&.hover {
			&:active, 
			&:hover, 
			&:focus {
				background-color: $bg-light-color;
			}
			.name {
				color: $link-color;
			}
		}
		.photo {
			border: 7px solid white;
			width: 100px;
			height: 100px;
		}
		.circle {
			// To make circle, radius should be at least half the width and height with border (ie. 100px + 7px border = 107px)
			border-radius: 60px;	
		}
		.rounded {
			// Make radius 1/4 the width and height
			border-radius: 25px;
		}
		dd {
			margin: 0;
			line-height: 1.6em;
		}
		.name {
			color: $text-color;
		}
		.interest {
			font-size: .8em;
			color: $text-color;
		}
		.position {
			color: $secondary-text-color;
		}
		.email, .office, .office-hours, .phone {
			font-size: .8em;
			color: $text-color;
		}
		.email a {
			font-size: 1em;
			display: inline-block;
		}
	}
}

/* Staff */
.people-list .staff {
	li:hover {
		background: none;
	}
	.name {
		color: $text-color;
	}
}

/*	8. Books
/*--------------------------------------*/

/* General Styles */
.cover {
	box-shadow: 0 0 10px 0 rgba(0,0,0,.14);
	border: 3px solid $white;
}
.custom-cover {
	background-color: #b4b4b4;
	margin: 0 auto 0 auto;
	
	 .title {
		color: $white;
		font-weight: 600;
		text-align: center;
		display: block;
	}
}
.publisher {
	display: block;
}
.book-list {
	.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin-bottom: 5px;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
}

/* People Page */
.single-people .book-list {
	float: left;
	
	img, .custom-cover {
		float: left;
	}
	.cover {
		width: 65px;
		height: auto;
	}
	.custom-cover.cover {
		width: 50px;
		height: 60px;
		padding: 20px 5px 10px 5px;
		
		.title {
			font-size: .42em;
			line-height: 1em;
		}
	}
	li {
		float: left;
		margin: 0 0 20px 0;
		padding: 0;
		list-style: none;
		display: inline-block;
		width: 320px;
		min-height: 120px;
	}
	dl {
		margin-left: 15px;
		float: left;
		clear: none;
		width: 220px;
	}
	dt.title {
		font-size: 14px;
		line-height: 14px;
		margin-bottom: 5px;
	}
	dd {
		margin-bottom: 0;
	}
	dd.publisher {
		font-size: 12px;
		line-height: 12px;
		margin: 10px 0;
	}
	dd.author a {
		display: block;
		font-size: .8em;
		line-height: 16px;
	}
	dd.subtitle {
		font-style: italic;
		line-height: .8em;
	}
}

/* Book Page */
.single-books {
	.publisher {
		display: block;
		font-size: .8em;
		font-style: italic;
	}
	.author {
		margin-top: 20px;
		display: block;
	}
	.author p {
		display: inline;
	}
	.author-name + .author-name {
		&:before {
			content: ",";
			margin: 0 5px 0 -3px;
		}	
	}
	.custom-cover {
		width: 244px;
		height: 313px;
		line-height: 24px;
		padding: 60px 15px 10px 15px;
		
		.title {
			font-size: 24px;
		}
	}
	.content header {
		width: 100%;
		
		.cover {
			display: none;
		}
	}
}

/* Book Archive */
.post-type-archive-books, .page-template-page-books {
	h1 {
		text-align: center;
	}
	.book-list {
		margin-top: 40px;
		clear: both;
		
		ul {
			padding: 0;
		}
		li {
			display: inline-block;
			padding: 0;
			margin: 5px 21px;
			width: 190px;
			height: 280px;
			text-align: center;
			vertical-align: top;
			@extend %clearfix;
		}
		.cover {
			width: 105px;
			height: auto;
		}
		.custom-cover.cover {
			width: 91px;
			height: 127px;
			line-height: 9px;
			padding: 20px 5px 10px 5px;
			margin-bottom: 12px;
			
			.title {
				font-size: 9px;
			}
		}
		dt.title {
			font-size: 1em;
			line-height: 1em;
			margin: 5px 0;
		}
		dd.publisher {
			font-size: .8em;
			line-height: .8em;
			margin-bottom: 5px;
		}
		dd.author a {
			display: block;
			font-size: .8em;
			line-height: 1.14em;
		}
		a {
			text-decoration: none;
		}
	}
}

/*	9. Courses
/*--------------------------------------*/

/* Courses */
ul.course-list {
	li {
		list-style: none;
		margin-left: 0;
		padding: 0;
	}
	h3 {
		font-size: 1.75em;
		line-height: 1.2em;
	}
}
.instructors {
	display: block;
	margin-bottom: -20px;
}

/*	10. Articles/Posts
/*--------------------------------------*/

.category, .search-results, .archive {
	article {
		padding-bottom: 40px;
	}
	article + article {
		border-top: 2px solid $border-color;
	}
}
.publish-date {
	margin-top: 0;
	margin-bottom: 20px;
	display: block;
}

/*	11. Other
/*--------------------------------------*/

.alignleft { 
	float: left;
	margin: 0 15px 15px 0;
}
.alignright { 
	float: right;
	margin: 0 0 15px 15px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.pagination {
	text-align: center;
	margin-top: 40px;
	
	li {
		display: inline-block;
	}
}
.instructors {
	display: block;
	margin-bottom: -20px;
}
.notice, .gform_confirmation_wrapper {
	width: 100%;
	margin: 2em 0;
	background: $bg-light-color;
	border-top: 10px solid $primary;
	padding: 10px 0;
}
.notice p, .notice h3 {
	padding: 0 25px;
}
.gform_confirmation_wrapper {
	padding: 10px 0 40px 0;
	
	.gform_confirmation_message {
		padding-left: 25px;
		padding-right: 25px;
	}
}
.content-subtitle {
	font-size: 1.4em;
	font-weight: 500;
	line-height: 1.6em;
	display: block;
}
.alert {
	border-radius: 5px;
	width: 100%;
	padding: 15px;
	margin: 15px 0;
	font-weight: bold;
	
	&.info {
		background-color: #cce3f1;
		border: 1px solid #67add7;
	}
	&.warning {
		background-color: #f2f2c7;
		border: 1px solid #e6e693;
		color: #666600;
	}
}
#hero {
	.caption {
		font-size: 12px;
		color: rgba(0, 0, 0, 0.87) !important;
		font-weight: normal;
		background: white(0.78);
		width: 460px;
		padding: 10px 15px;
		max-height: 150px;
		bottom: 0px;
		line-height: 1.3em;    
		font-style: italic;
		letter-spacing: 0.02em;
		margin-bottom: 10px;
	}
	.hero-description {
		position: absolute;
		bottom: 0;
	}
}
figure {
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
.image-caption-container, 
//.wp-caption-text 
{
	background: #f2f2f2;
	margin: -8px 0px 0px;
	display: block;
	float: left;
	overflow: hidden;
	padding: 10px 15px;
	line-height: 1.45em;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 30px;
	letter-spacing: 0.01em; 
}
.wp-caption-text {   
	width: 90%;
}
figure .wp-caption-text {
	width: 100%;
	box-sizing: border-box;
}
.image-caption-container p {
	margin: 0px;
	padding: 0px;
}
p.first_letter::first-letter {
	font-family: "Times New Roman";
	font-size: 200%;
	color: #014771;
	font-weight: 600;
}

/* List Pages */
.program-list {	
	.program {
		list-style: none;
		margin: 0;
		border-top: 2px solid $border-color;
		padding: 25px 0 40px 0;
	}
	h2 {
		font-size: 1.5em;
		margin: .5em 0;
	}
	a.additional {
		margin-left: 15px;
	}
	.program-type {
		font-weight: bold;
		display: block;
		margin-top: -10px;
	}
	.program-email, .program-phone {
		display: inline-block;
		margin-right: 20px;
	}
}
.program-list {
	margin-top: 0;
}
.program-list .program {
	border-top: none;
}
.program-list .program + .program {
	border-top: 2px solid $border-color;
}

/* Tables */
table {
	 border-collapse: collapse;
}
td, th {
	padding: 5px;
}
th {
	background-color: $primary-light;
}
tr:nth-of-type(odd) {
	background: $bg-light-color;
}
tr:hover td {
	background-color: $bg-dark-color;
}
td {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: $border-color;
}

/* FAQ/Accordion */
h5.topic {
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 0 10px 15px;
	margin: 0;
	
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		border-radius: 0;
		transition: all 0.24s ease-in-out;
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			position: absolute;
			top: 2px;
			left: -15px;
			transition: all 0.24s ease-in-out;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(90deg);
		}
	}
}
div.response + h5.faq {
	border-top: 1px solid $border-color;
}
div.response {
	padding-left: 20px;
	
	p {
		margin: 0 0 1.5em 0;
	}
	.accordion-content {
		margin-bottom: 1.5em;
	}
	
	// This is the opened state
	&.animated-expandmore__to_expand {
		display: block;
		overflow: hidden;
		opacity: 1;
		transition: visibility 0s ease, max-height .8s ease, opacity 1s ease ;
		max-height: 10000px;
		visibility: visible;
		transition-delay: 0s;
	}
	
	// This is the hidden state
	&[data-hidden=true].animated-expandmore__to_expand {
		display: block;
		max-height: 0;
		opacity: 0;
		visibility: hidden;
		transition-delay: 1s, 0s, 0s;
	}
}

// Accordion style
h5.accordion {
	padding: 10px 10px 10px 30px;
	margin: 0;
	background: $bg-light-color;
	border: 1px solid $border-color;
	transition: all 0.24s ease-in-out;
	
	&:hover {
		background: $bg-dark-color;
	}
	button {
		background: none;
		color: $link-color!important;
		padding: 0;
		margin-bottom: auto;
		letter-spacing: 0;
		line-height: 1.3em;
		text-align: left;
		transition: all 0.24s ease-in-out;
	
		&:hover, &:focus {
			background: none;
			color: $link-hover-color!important;
		}
		&:active {
			top: 0;
		}
		.fas {
			font-size: .8em;
			left: -20px;
			top: 4px;
		}
		&[aria-expanded=true] .fas {
			transform: rotate(135deg);
		}
	}
}
div.response.accordion {
	border: 1px solid $border-color;
	border-top: none;
	padding: 0;
	margin-top: -2px;
	
	& + h5.accordion {
		border-top: none;
	}
	&[data-hidden=true] {
		padding: 0;
	}
	.accordion-content {
		margin: 1.5em 20px;
	}
}

/* Videos */
.video-list, .podcast-list {
	margin-top: 20px;
	float: left;
	
	li {
		list-style: none;
		margin: 0 0 30px 0;
		padding-bottom: 40px;
		float: left;
		width: 100%;
		border-bottom: 2px solid $border-color;
	}
	h3 {
		margin: 0;
	}
	.wp-post-image {
		float: left;
		width: 170px;
		height: auto;
		margin: 0 20px 0 0;
	}
	a + .video-content, a + .podcast-content {
		max-width: 450px;
	}
	.video-content, .podcast-content {
		float: left;
		width: 100%;
		
		p {
			margin-top: 0;
		}
	}
}
.single-video, .single-podcast {
	h1 {
		margin-bottom: .5em;
	}
}
/* Projects */
.single-projects .wp-post-image {
	margin-top: 20px;
}

/* Images/Galleries/Fancybox */
article img {
	max-width: 100%;
	height: auto;
}
img.alignleft, figure.alignleft { 
	float: left;
	margin: 15px 15px 15px 0;
}
img.alignright, figure.alignright { 
	float: right;
	margin: 15px 0 15px 15px;
}
img.aligncenter, figure.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}
.gallery {
	.gallery-item {
		display: inline-block;
		vertical-align: top
	}
	.gallery-item + .gallery-item {
		margin-left: 10px;
	}
	.gallery-caption {
		max-width: 150px; 
		line-height: 16px; 
		font-size: 12px; 
		font-style: italic;
		text-align: center;
		margin: 0 auto;
	}
	.gallery-icon {
		min-height: 160px;
	}
}
.fancybox-container .fancybox-toolbar {
	top: 60px;
}

/*	Color Palette
/*--------------------------------------*/

.color-block {
	width: 103px;
	height: 103px;
	float: left;
	text-align: center;
	line-height: 7em;
	margin: 0 1px;
}
.light-primary {
	background: $primary-light;
}
.primary {
	background: $primary;
}
.dark-primary {
	background: $primary-dark;
}
.light-secondary {
	background: $secondary-light;
}
.secondary {
	background: $secondary;
}
.dark-secondary {
	background: $secondary-dark;
}
.light {
	color: white;
}